.advantages {
    margin-bottom: 100px;
}

.advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    justify-items: end;
}

.advantages__item {
    border-radius: 45px;
    border: 1px solid var(--Dark, #191A23);
    box-shadow: 0px 5px 0px 0px #191A23;
    padding: 50px;
    max-width: 600px;
    gap: 20px;
    width: 100%; 
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.advantages__item:nth-child(even) {
    justify-self: start;
}

.advantages__img {
    max-width: 170px;
    width: 100%;
    align-self: center;
    grid-column: 2/3;
    grid-row: 1/-1;
}

.advantages__name {
    font-size: 30px;
    font-weight: 500;
    padding: 0 7px;
}

.advantages__link {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 400;
    font-size: 20px;
}

.advantages__item .advantages__name span {
    display: inline-block;
    border-radius: 7px;
    padding: 0 7px;
    white-space: nowrap;
}

.advantages__item--gray {
    background-color: var(--gray-color);
}

.advantages__item--gray .advantages__name span {
    background-color: var(--main-color);
}
.advantages__item--green {
    background-color: var(--main-color);
}

.advantages__item--green .advantages__name span {
    background-color: #fff;
    word-break: break-all;
}
.advantages__item--black {
    background-color: var(--black-color);
}

.advantages__item--black .advantages__name span {
    background-color: #fff;
}
.advantages__item--black .advantages__link {
    color: #fff;
}

.advantages__link svg {
    transition: all 0.2s ease-in;
}

.advantages__link:hover svg {
    transform: rotate(120deg);
}

@media (max-width: 1100px) {
    .advantages__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .advantages__item {
        min-height: auto;
    }
    .advantages__text {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 575px) {
    .advantages__link span {
        display: none;
    }
    .advantages__item {
        gap: 0;
        row-gap: 20px;
        padding: 20px;
    }
    .advantages__name {
        grid-column: 1/-1;
        font-size: 22px;
    }
    .advantages__img {
        grid-row: 2/-1;
        max-width: 111px;
    }
    .advantages__link {
        grid-row: 2/-1;
        align-self: end;
    }
}