.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid var(--main-color);
    z-index: 2;
}

.header__wrapper {
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 38px;
    font-weight: 500;
}

.header__nav {
    display: flex;
    gap: 40px;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header__link {
    font-size: 20px;
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
}

.header__button {
    font-size: 20px;
    padding: 20px 35px;
    border-radius: 14px;
    border: 1px solid #000;
    transition: all 0.2s ease;
}

.header__burger {
    display: none;
}

.header__close-button {
    display: none;
}

@media (max-width: 1100px) {
    .header__button {
        display: none;
    }
    .header__burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 24px;
        height: 16px;
        cursor: pointer;
    }
    .header__burger span {
        display: inline-block;
        width: 100%;
        height: 2px;
        background-color: #000;
    }
    .header__list {

        flex-direction: column;
        align-items: start;
        padding: 20px;
        border-left: 1px solid #000;
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        background-color: #fff;
        transform: translateX(100%);
        transition: all 0.2s ease-in-out;
        z-index: 2;
    }
    .header__close-button {
        display: block;
        position: absolute;
        right: 167px;
        top: 20px;
        width: 24px;
        height: 16px;
        transform: translateX(200px);
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        padding: 10px;
    }
    .header__close-button span {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        height: 2px;
        background-color: #000;
        transition: all 0.2s ease-in-out;
    }
    .header__close-button span:first-child {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .header__close-button span:last-child {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    /* Burger movement */

    .header.active .header__list {
        transform: translateX(0);
    }
    .header.active .header__close-button {
        transform: translateX(0);
    }
}
