.hero {
    padding-top: 185px;
}

.hero__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 108px;
    margin-bottom: 70px;
}

.hero__img {
    grid-column: 2/3;
    grid-row: 1/-1;
}

.hero__title {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 35px;
}

.hero__title, .hero__subtitle {
    max-width: 531px;
}

.hero__subtitle {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 35px;
}

.hero__button {
    display: inline-block;
    background-color: var(--black-color);
    padding: 20px 35px;
    color: #fff;
    width: fit-content;
    font-size: 20px;
    line-height: 28px;
    border-radius: 14px;
    height: fit-content;
}

/* Marquee */


.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 120px;
    overflow-x: hidden;
    font-size: 42px;
    text-transform: uppercase;
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 62s linear infinite;
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

.marquee span {
    display: inline-block;
    margin: 0 20px;
}

@media (max-width: 1200px) {
    .hero {
        padding-top: 120px;
    }
    .hero__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero__img {
        max-width: 800px;
    }
    .hero__title, .hero__subtitle {
        max-width: 100%;
    }
}