.other {
    padding-top: 155px;
    font-size: 18px;
    min-height: 100vh;
    padding-right: 20px;
    padding-left: 20px;
}

.other p {
    margin-bottom: 20px;
}

.other h1, .other h2 {
    width: fit-content;
    margin-bottom: 30px;
}

@media (max-width: 1200px) {
    .hero {
        padding-top: 90px;
    }
}