.process {
    margin-bottom: 70px;
}

.process__item {
    background-color: var(--gray-color);
    border-radius: 45px;
    border: 1px solid #191A23;
    padding: 31px 60px;
    box-shadow: 0px 5px 0px 0px #191A23;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.process__item:not(:last-child) {
    margin-bottom: 30px;
}

.process__name {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 20px;
    width: fit-content;
}

.process__number {
    font-size: 60px;
}

.process__button {
    width: 58px;
    height: 58px;
    background-color: var(--gray-color);
    position: relative;
    border: 1px solid #000;
    border-radius: 50%;
    pointer-events: none;
}

.process__button::after, .process__button::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 5px;
    height: 25px;
    transition: all 0.2s ease-in;
    background-color: var(--black-color);
}

.process__button::before {
    transform: translate(-50%, -50%);
}
.process__button::after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.process__item-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.process__item-bottom {
    position: relative;
    height: 100%;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
    cursor: pointer;
    display: flex;
    gap: 40px;
    align-items: center;
    border-top: 2px solid transparent;
}

/* .process__item.active {
    background-color: var(--main-color);
} */

.process__item.active {
    background-color: var(--main-color);
}

.process__item.active .process__button::before {
    transform: translate(-50%, -50%) rotate(90deg);
}

.process__item.active .process__item-bottom {
    padding-top: 30px;
    margin-top: 30px;
    max-height: 90px;
    border-top: 2px solid var(--black-color);
    height: auto;
}

@media (max-width: 900px) {
    .process__item.active .process__item-bottom {
        max-height: 100px;
    }
}
@media (max-width: 750px) {
    .process__item.active .process__item-bottom {
        padding-top: 10px;
        margin-top: 10px;
    }
}

@media (max-width: 575px) {
    .process__name {
        font-size: 18px;
    }
    .process__number {
        font-size: 30px;
    }
    .process__content {
        font-size: 14px;
    }
    .process__button {
        width: 30px;
        height: 30px;
    }
    .process__button::before, .process__button::after {
        width: 15px;
        height: 3px;
    }
    .process__item {
        padding: 20px;
    }
    .process__item.active .process__item-bottom {
        max-height: 115px;
    }
    .process__item.active .process__button::after {
        transform: translate(-50%, -50%) rotate(0);
    }
}