.test {
    margin-bottom: 70px;
}

.swiper {
    width: 100%;
    height: 525px;
    background-color: var(--black-color);
    border-radius: 45px;
    padding-bottom: 70px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
}

.test__content {
    padding: 48px 52px 52px;
    border: 1px solid var(--main-color);
    max-width: 600px;
    border-radius: 45px;
    position: relative;
    color: #fff;
    font-size: 18px;
    cursor: grab;
}

.test__content::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -21px;
    background-color: var(--black-color);
    border-bottom: 1px solid var(--main-color);
    border-left: 1px solid var(--main-color);
    transform: rotate(-45deg);
}

.test__author {
    display: flex;
    flex-direction: column;
    margin-right: 250px;
    font-size: 20px;
    color: #fff;
}

.test__author-name {
    font-weight: 500;
    color: var(--main-color)
}

.test__author-pos {
    font-weight: 400;
}

.swiper-button-next, .swiper-button-prev {
    top: auto;
    bottom: 0;
}

.test__nav {
    max-width: 600px;
    position: relative;
    margin: 0 auto;
}

.swiper-button-next, .swiper-button-prev {
    width: 30px;
    height: 40px;
    border-radius: 9999px;
    transition: all 0.2s ease-in;
}

.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 0;
    width: 25px;
    height: 2px;
    background-color: var(--gray-color);
    transition: all 0.2s ease-in;
}

.swiper-button-next::before, .swiper-button-prev::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    right: 3px;
    border-top: 2px solid var(--gray-color);
    border-right: 2px solid var(--gray-color);
    transform: rotate(45deg);
    transition: all 0.2s ease-in;
}

.swiper-button-prev::before {
    transform: rotate(-135deg);
    right: auto;
    left: 3px;
}

.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background-color: transparent;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none"><path d="M7.0099 2.05941L14 0L11.9604 7.0099L14 14L7.0099 11.9604L0 14L2.05941 7.0099L0 0L7.0099 2.05941Z" fill="white"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 0;
    transition: all 0.2s ease-in;
}

.swiper-pagination-bullet-active {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 15 14" fill="none"><path d="M7.67592 2.05941L14.666 0L12.6264 7.0099L14.666 14L7.67592 11.9604L0.666016 14L2.72542 7.0099L0.666016 0L7.67592 2.05941Z" fill="%23B9FF66"/></svg>');
}

.swiper-pagination-bullet:not(:last-child) {
    margin-right: 15px;
}

@media (max-width: 575px) {
    .swiper {
        padding-left: 20px;
        padding-right: 20px;
    }
    .test__author {
        margin-right: 0;
    }
}

@media (max-width: 440px) {
    .test__content {
        padding: 20px;
        font-size: 16px;
        border-radius: 15px;
    }
    .test__content::before {
        width: 30px;
        height: 30px;
        bottom: -16px;
    }
}